@font-face {
  font-family: "FuturaPT-BookObl";
  src: url(../../fonts/FuturaPT-BookObl.eot);
  src: url(../../fonts/FuturaPT-BookObl.eot?#iefix) format("embedded-opentype"),
    url(../../fonts/FuturaPT-BookObl.otf) format("otf"),
    url(../../fonts/FuturaPT-BookObl.svg#FuturaPT-BookObl) format("svg"),
    url(../../fonts/FuturaPT-BookObl.woff2) format("woff2"),
    url(../../fonts/FuturaPT-BookObl.woff) format("woff");
}
