@font-face {
  font-family: "NeutralFace";
  src: url(../../fonts/NeutralFace.eot);
  src: url(../../fonts/NeutralFace.eot?#iefix) format("embedded-opentype"),
    url(../../fonts/NeutralFace.svg#NeutralFace) format("svg"),
    url(../../fonts/NeutralFace.woff2) format("woff2"),
    url(../../fonts/NeutralFace.woff) format("woff"),
    url(../../fonts/NeutralFace.ttf) format("truetype");
}
