// ===== Colors ===== //
$bsPrimary: #d0d6f9; // primary
$bsLight: #ffffff; // light
$bsDark: #000000; // dark

// ===== Breakpoints ===== //
$breakpointSm: 575.98px; // Small
$breakpointMd: 767.98px; // Medium
$breakpointLg: 991.98px; // Large
$breakpointXl: 1199.98px; // Extra large
$breakpointXxl: 1399.98px; // Extra extra large

// ===== Fonts ===== //
$mainFont: "NeutralFace", sans-serif;
$primaryFont: "FuturaPT-BookObl", sans-serif;
$secondaryFont: "FuturaPT-Demi", sans-serif;
